/practica07/EJERCICIO1_SALUDAR/nbproject/private/
/practica07/EJERCICIO1_SALUDAR/build/
/practica07/PRACTICA07/nbproject/private/
/practica07/PRACTICA07/build/
/practica07/ProyectoHugo/nbproject/private/
/practica07/ProyectoHugo/build/
/PRACTICA07/nbproject/private/
/Practica07/nbproject/private/
/practica07/nbproject/private/
/practica07l/nbproject/private/
/practica07l/build/
/PRACTICA08/nbproject/private/
/PRACTICA08/build/
/Tienda Netbeans/Tienda Netbeans/Store/build/
/Tienda Netbeans/Tienda Netbeans/Store/nbproject/private/
/PRACTICA09/nbproject/private/
/PRACTICA09/build/
/PracticaSQLite/PracticaSQLite/nbproject/private/
/PracticaSQLite/PracticaSQLite/build/
/store/nbproject/private/
/store/build/
